# Use PiWheels & binaries only
numpy==1.26.4
opencv-python<4.12
scipy
pandas==2.2.2
flask
pillow==11.3.0

# dlib (choose wheel per architecture)
dlib-bin==19.24.6; platform_machine == "aarch64"
dlib==20.0.0; platform_machine != "aarch64"
